<!DOCTYPE html>
<html>
<head>
    <title>All to do lists</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h2 th:align="center">All tasks</h2>
<table th:align="center">
    <thead>
    <tr>
        <th> Id</th>
        <th></th>
        <th colspan="2"> Name</th>
        <th> Description</th>
        <th>Open</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${lists.isEmpty()}">
        <td colspan="3"> List is empty</td>
    </tr>
    <tr th:each="list : ${lists}">
        <td colspan="2"><span th:text="${list.id}"> ID </span></td>
        <td></td>
        <td><span th:text="${list.listName}"> Name </span></td>
        <td><span th:text="${list.listDescription}"> Description</span></td>
        <td><a th:href="@{/list/get/{id}(id=${list.id})}">Open list</a></td>
        <td><a th:href="@{/list/delete/{id}(id=${list.id})}">Delete list</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>