<!DOCTYPE html>
<html>
<head>
    <title>To do list</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h2 th:align="center">All tasks</h2>
<h3 th:align="center"><a th:href="@{/list/get}">Go back</a></h3>
<table th:align="center">
    <thead>
    <tr>
        <th>Task id</th>
        <th>Task name</th>
        <th>Task end time</th>
        <th>Finished</th>
        <th>Change status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${list.isEmpty()}">
        <td colspan="5"> List is empty</td>
    </tr>
    <tr th:each="l : ${list}">
        <td><span th:text="${l.id}">Task id</span></td>
        <td><span th:text="${l.taskName}">Task name</span></td>
        <td>
            <span th:text="${#dates.format(l.taskEndTime, 'dd/MM/yyyy')}">End time</span>
        </td>
        <td><span th:text="${l.done}">Done</span></td>
        <td>
            <a th:href="@{/task/changeStatus/{id}(id=${l.id})}">Change</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>